.header{
    background-color: #F2F2F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo-container img {
    width: 10vw;
}

.logo-container{
    width: 45%;
}