html {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100%;
  }
  .header {
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f4;
    padding-left: 60px;
  
    img {
      width: 150px;
      height: 150px;
      margin-left: 20px;
      margin-top: 5px;
    }
  }
  
  header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25vw;
    margin-left: 50px;
  
    a {
      margin-inline: 10px;
      color: #343a40;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .main {
    width: 80%;
    margin-inline: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
  
    .section__header {
      font-family: Arial, Helvetica, sans-serif;
  
      img {
        width: 80%;
        height: 500px;
      }
    }
    .section__content {
      width: 70%;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .section__content-child {
        width: 200px;
        color: gray;
      }
    }
  
    .main__location {
      width: 80%;
    }
  
    .main__location img {
      width: 80%;
    }
  }
  .footer {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .footer__section1 {
      display: flex;
      flex-direction: row;
      gap: 20px;
      a {
        color: blue;
        text-decoration: none;
      }
    }
  }
  .main_location {
    position: relative;
    bottom: -30px;
  }
  @media (max-width: 600px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    .header .nav-bar {
      margin-left: -130px;
    }
  }