// style header
@import 'header.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Inconsolata’, monospace;
}

<<<<<<< HEAD
@import '/scss/home.scss';
=======
@import 'home.scss';
>>>>>>> main


// Style for About Page
@import 'about.scss';
