body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Inconsolata’, monospace;
}

// Home page stylesheet
@import 'home.scss';

// Our Story page stylesheet
@import 'about.scss';

// Coffee page stylesheet
@import 'coffee.scss';

// Our Story page stylesheet
@import 'menu.scss';
