.header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f4;
  
    img {
      width: 150px;
      height: 150px;
      margin-left: 20px;
      margin-top: 5px;
    }
  
    .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30vw;
      margin-right: 10vw;
  
      a {
        margin-inline: 10px;
        color: #343a40;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .main {
    .menu {
      font-size: 2rem;
      position: RELATIVE;
      left: 4%;
      top: 20px;
    }
  
    .box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 15px;
  
      .box__inner {
        width: 40%;
        background-color: white;
        margin-left: 25 px;
        margin-right: 25px;
        padding: 3%;
  
        .box__inner__items {
          display: flex;
          justify-content: space-between;
        }
  
        .box__inner__items_prices {
          align-content: end;
        }
  
        .box__inner__filter {
          display: flex;
          justify-content: space-between;
        }
  
        .box__inner_specialites {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  
  .footer {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .footer__section1 {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  
    .footer__section2 {
      color: #f2f2f4;
    }
  
    a {
      color: #f2f2f4;
    }
  }
  
  //width was misspelled
  @media (max-width: 767px) {
    .box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      flex-wrap: nowrap;
    }
    .main {
      display: flex;
      justify-content: center;
    }
    .box__inner {
      max-width: 80%;
    }
  }